<nav class="navbar" style="background-color: #e3f2fd">
	<div class="container-fluid">
		<a class="navbar-brand" href="/productos">Productos</a>
		<a class="navbar-brand" href="/carrito">Carrito</a>
		<a class="navbar-brand" href="/login"
			><img
				style="width: 60px; border-radius: 50%"
				src="<%= prueba.img %> "
				alt=""
		/></a>
		<form action="/logout" method="get">
			<button class="btn btn-primary" type="submit">Cerrar sesion</button>
		</form>
	</div>
</nav>
